extend ../layout
block content
  h1 You have been nuked!
  hr
  h3 Account Not Found
  p
    | No account was identified based on the information provided.
    | There are several reasons why this can happen:
  ol
    li
      | Poblano is invitational. If you have not received any invitation,
      | your account does not exist yet and you are unable to log in.
    li
      | Your OAuth identity has not been paired with your account yet.
      | If this is the case, please use other means to log into Poblano,
      | then pair the OAuth identity you have just used with your account.
  br
  | <img src="#{prefix}/img/wtf_clown_nuclear_explosion.jpg">
