extend ../layout
block content
  h3 You have to log into Poblano before proceeding further
  p Please choose one of the providers below.
  a(href='#{prefix}/auth/github?returnTo=#{returnTo}')
    | <img src="img/github-octocat.png" alt="GitHub OAuth">
