extend ../layout
block content
  h3 You have to log into Poblano before proceeding further
  p Please choose one of the providers below.
  a(href='#{prefix}/auth/github')
    | <img src="img/Octocat.png" alt="GitHub OAuth">
