<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
		<div class="container">
		  <a class="brand" href="#">Poblano</a>
		  <div class="pull-right">
		  {{#if displayName}}
		  {{displayName}}
		  {{else}}
		  <a class="btn btn-link" href="/auth/google-openid">Sign In with Google OpenID</a>
		  {{/if}}
          </div>
		</div>
	  </div>
    </div>
	<!-- Scripts -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
