extend layout
block menu
  ul.nav
    li.active
      a(href='#{prefix}/project/initialise') Initialise a Project
  div.pull-right
    p.btn.btn-link
      a(href='#{prefix}/user/#{user.id}')= user.displayName
block content
  p Under construction...
